[Unit]
Description=WPA supplicant with S1G (Wi-Fi HaLow) support

[Service]
Type=simple
RuntimeDirectory=wpa-supplicant-s1g
ExecStart=/usr/sbin/wpa_supplicant_s1g -s -g /run/wpa-supplicant-s1g/global

[Install]
WantedBy=multi-user.target
