[Unit]
Description=WPA supplicant with S1G support (interface-specific)
Documentation=man:wpa_supplicant-s1g(8)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant_s1g -c/etc/wpa-supplicant-s1g/wpa_supplicant-%I.conf -i%I

[Install]
WantedBy=multi-user.target
