#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all optimize=-lto
export DEB_CFLAGS_MAINT_APPEND = -Wno-error=unused-result -Wno-error=discarded-qualifiers -Wno-error=maybe-uninitialized

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- \
		CONFIG_MORSE_TRANS_NL80211=1 \
		CONFIG_MORSE_TRANS_UART_SLIP=1 \
		CONFIG_MORSE_TRANS_TCP_SLIP=1 \
		LINUX_CFLAGS="$$(pkg-config --cflags libnl-3.0 libnl-genl-3.0 libusb-1.0)" \
		V=1

override_dh_auto_install:
	# Upstream install target lacks DESTDIR support; use debian/install
